.Product {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;

  > div {
    width: 50%;
  }

  &__copy {
    position: relative;
  }
  
  &__image {
    background-color: lightgrey;

    img {
      display: block;
    }

    picture {
      width: 100%;

      img {
        width: 100%;
      }
    }

  }

}

.Product__pricing {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  padding-right: 2rem;
  font-size: 1.5rem;
}

.Product__msrp {
  color: red;
}


.Product__salesPrice {
  color: red;
  margin-top: 0.25rem;
  order: 1;
  font-style: italic;

  & + .Product__msrp {
    color: white;
    font-weight: normal;
    position: relative;
    display: inline-block;
    order: 0;

    &::after {
      content: '';
      display: block;
      width: 110%;
      height: 2px;
      background-color: red;
      transform-origin: center;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: rotate(-8deg) translate(-50%);
    }
    }
  }